.header__mainbox{
    width: 100%;
    background-color: var(--maincolor-color);
    text-align: center;
    padding: 1rem;
    border-bottom:solid 1px white;

}
.header__mainbox__tittle{
    font-family: var(--mainfont-font);
    color: white;
}