body{
    background-color: var(--maincolor-color);
}
.mainbody__mainbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:var(--maincolor-color);
    padding: 5rem 1rem 1rem 1rem;
}
.mainbody__mainbox__cardcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainbody__mainbox__list{
    list-style: none;
}
.mainbody__mainbox__cardcontainer__buttonsbox{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 1rem 1rem 1rem 1rem;
    width: 450px;
    margin-bottom: 10px;
}
.mainbody__mainbox__cardcontainer__buttonsbox h1{
    font-family: var(--mainfont-font);
    color: white;
}
.plusicon{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.mainbody__mainbox__card{
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.mainbody__mainbox__cardcontainer__buttonsbox__input{
    height: 35px;
    margin-right: 10px;
    padding:0.5rem;
    border-radius: 5px;
}